target/
node_modules/
data/
.vaadin/
.idea/
.classpath
.project
.settings/
src/main/frontend/generated/
package.json
package-lock.json
pnpm-lock.yaml
pnpmfile.js
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
.deploy-access/
